# OpenAI Compatible API Configuration
#
# Copy this file to $HOME/.env

# API Configuration
OPENAI_BASE_URL=https://dashscope.aliyuncs.com
OPENAI_API_KEY=sk-xxxx

# Model Configuration
OPENAI_MODEL_CODING=qwen3-coder-next
