# nvim dependencies
pynvim==0.6.0

# tools
vim-vint==0.3.21
clang-format==22.1.0
cmakelint==1.4.3
yamllint==1.38.0
pylint==4.0.5
jedi-language-server==0.46.0
flake8==7.3.0
black==26.3.0
yamlfix==1.19.1

# update with:
#  pip install pur
#  pur -r requirements.txt
